/* 👇 PAGE SET 👇 */

.page{
  display: grid;
  height: 98vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "menu menu terminal-loader"
  "container container-bg-btn box";
  grid-gap: 0.1rem;
}

@media only screen and (max-width:100px){
  .page{
    grid-template-columns:1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "menu"
    "terminal-loader"
    "container"
    "box"
    "container-bg-btn";
  }
}

.background-container {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.bg-default { background-image: url('../img/field_lake.jpg'); }

.bg-image1 { background-image: url('../img/cyber-glacier.webp'); }

.bg-image2 { background-image: url('../img/DORFic.webp'); }

/* 👆 PAGE SET 👆 */

/* 👇 MENU 👇 */

.menu
{
    width: 200px;
    height: 200px;
    left: 10%;
    top: 30px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    grid-area: menu;
}

.menu li
{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    list-style: none;
    transform-origin: 100px;
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
    transform: rotate(0deg) translateX(80px) translateY(-15px);
}

.menu.active li
{
    transform: rotate(calc(225deg / 5 * var(--i))); 
}

.green {
    background: linear-gradient(135deg, #a8d52d, #83ac29, #74a727, #83ac29, #a8d52d);
}

.blue {
    background: linear-gradient(135deg, #6fb9f6, #4ca3f9, #2587f8, #4ca3f9, #6fb9f6);
}

.purple {
    background: linear-gradient(135deg, #f09bfe, #cd5ffb, #a92bf7, #cd5ffb, #f09bfe);
}

.orange {
    background: linear-gradient(135deg, #f4cb8d, #fca44d, #fe8922, #fca44d, #f4cb8d);
}

.red {
    background: linear-gradient(135deg, #f79c95, #fc5353, #f70707, #fc5353, #f79c95);
}

.yellow {
    background: linear-gradient(135deg, #ffe96e, #f8d300, #dcbb01, #f8d300, #ffe96e);
}

.round-button::before {
    content: '';
    position: absolute;
    top: 10%;
    left: 19%;
    right: 19%;
    height: 40%;
    background: linear-gradient(135deg, 
        rgba(255,255,255,0.4) 0%, 
        rgba(255,255,255,0.2) 50%, 
        rgba(255,255,255,0.05) 100%);
    border-radius: 50%;
    pointer-events: none;
}

li
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #ffffff; /*buttons color*/
    border-radius: 50%;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.15);
    color: #111; 
    transition: 0.5s;
}

ion-icon{
    transform: rotate(calc(225deg / -5 * var(--i)));
}

li:hover
{
    color: white;
    background-color: black;
}

.toggle
{
    position: absolute;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0px 4px rgba(255, 255, 255, 0.15);
    font-size: 2em;
    transition: transform 1.25s;
}

.menu.active .toggle
{
    transform: rotate(360deg);
}

.menu.active .rotate
{
    transform: rotate(315deg);
}

/* 👆 MENU 👆 */

/* 👇 From CodePen.io by katarzynamarta 👇 */

* {
	box-sizing: border-box;
	font-family: "Audiowide", sans-serif;
  z-index: 90;
} 

.container-bg-btn {
  position: fixed;
  /* top: 30%;
  left: 30%; */
  transform: translate(240%, 160%);
  z-index: 90;
	display: flex;
  flex-direction: column;
  gap: 20px;
	justify-content: center; 
  grid-area: container-bg-btn;
}

.container-bg-btn .btn {
	position: relative;
	width: 250px;
	height: 50px;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-bg-btn .btn a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.05);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 30px;
	padding: 10px;
	letter-spacing: 1px;
	text-decoration: none;
	overflow: hidden;
	color: #fff;
	font-weight: 400px;
	z-index: 80;
	transition: 0.5s;
	backdrop-filter: blur(5px);
}

.container-bg-btn .btn:hover a {
	letter-spacing: 3px;
}

.container-bg-btn .btn a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
	transform: skewX(45deg) translate(0);
	transition: 0.5s;
	filter: blur(0px);
}

.container-bg-btn .btn:hover a::before {
	transform: skewX(45deg) translate(200px);
}

.container-bg-btn .btn::before {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	bottom: -5px;
	width: 30px;
	height: 10px;
	background: #f00;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5;
}

.container-bg-btn .btn:hover::before /*lightup button*/ {
	bottom: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
}

.container-bg-btn .btn::after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	top: -5px;
	width: 30px;
	height: 10px;
	background: #f00;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5;
}

.container-bg-btn .btn:hover::after /*lightup button*/ {
	top: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
}

.container-bg-btn .btn:nth-child(1)::before, /*change 1*/
.container-bg-btn .btn:nth-child(1)::after {
	background: #4ca3f9;
	box-shadow: 0 0 5px #4ca3f9, 0 0 15px #4ca3f9, 0 0 30px #4ca3f9, 
		0 0 60px #4ca3f9;
}

.container-bg-btn .btn:nth-child(2)::before, /*change 2*/
.container-bg-btn .btn:nth-child(2)::after {
	background: #fe8922;
	box-shadow: 0 0 5px #fe8922, 0 0 15px #fe8922, 0 0 30px #fe8922,
		0 0 60px #fe8922;
}

.container-bg-btn .btn:nth-child(3)::before, /*change 3*/
.container-bg-btn .btn:nth-child(3)::after {
	background: #74a727;
	box-shadow: 0 0 5px #74a727, 0 0 15px #74a727, 0 0 30px #74a727,
		0 0 60px #74a727;
}

/* 👆 From CodePen.io by katarzynamarta 👆 */

/* 👇 EXO CIRCLE 👇 */

.box{
    position : fixed;
    bottom : 40px;
    right: 40px;
    width: 200px;
    height: 200px;
    background: rgba(50, 50, 50, 0.5);
    border-radius: 50%;
    overflow: hidden;
    grid-area: box;
}

.box:before{
    content: '';
    position: absolute;
    inset: -10px 80px;
    background: linear-gradient(250deg,#74a727,#2587f8);
    transition: 0.5s;
    animation: animate 4s linear infinite;
}

.box:hover::before{
    inset: -20px 0px;
}

@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.box::after{
    content: '';
    position: absolute;
    inset: 6px;
    background: #2c2c2c;
    border-radius: 50%;
    z-index: 1;
}

.content{
    position: absolute;
    inset: 30px;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
    z-index: 900;
    background-color: #2c2c2c;
}

.box:hover .content img{
    opacity: 0;
    position: 0;
}

.content h2{
    font-family: "Audiowide", sans-serif;
    position: relative;
    font-size: 1em;
    text-align: center;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.content h2 span{
    font-weight: 300;
    font-size: 0.75em;
    font-family: "Audiowide", sans-serif;
}

/* 👆 EXO CIRCLE 👆 */

/* 👇 From CodePen.io by nr.bln 👇 */

@keyframes blinkCursor {
  50% {
    border-right-color: transparent;
  }
}

@keyframes typeAndDelete {
  0%,
  10% {
    width: 0;
  }
  45%,
  55% {
    width: 6.2em;
  }
  90%,
  100% {
    width: 0;
  }
}

.terminal-loader {
  border: 0.1em solid #333;
  background-color: #1a1a1a;
  color: #0f0;
  font-family: "Audiowide", sans-serif;
  font-size: 1em;
  padding: 1.5em 1em;
  width: 12em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: fixed;
  z-index: 4;
  overflow: hidden;
  box-sizing: border-box;
  right: 3%;
  top: 5%;
  height: 260px;
  row-gap: 20%;
  grid-area: terminal-loader;
}

.terminal-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1.5em;
  background-color: #333;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 0 0.4em;
  box-sizing: border-box;
}

.terminal-controls {
  float: right;
}

.control {
  display: inline-block;
  width: 0.6em;
  height: 0.6em;
  margin-left: 0.4em;
  border-radius: 50%;
  background-color: #777;
}

.control.close {
  background-color: #e33;
}

.control.minimize {
  background-color: #ee0;
}

.control.maximize {
  background-color: #0b0;
}

.terminal-title {
  float: left;
  line-height: 1.5em;
  color: #eee;
  font-family: "Audiowide", sans-serif;
}

.text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.2em solid green; /* Cursor */
  animation:
    typeAndDelete 4s steps(11) infinite,
    blinkCursor 0.5s step-end infinite alternate;
  margin-top: 1.5em;
  font-family: "Audiowide", sans-serif;
}

.texet { /*addition*/
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  font-size: smaller;
  margin-top: 1.5em;
  font-family: "Audiowide", sans-serif;
}

/* 👆 From CodePen.io by nr.bln 👆 */

/* 👇 LOG 👇 */

.ph{
    font-family: "Audiowide", sans-serif;
    font-size: large;
    color: #e6e6e6;
    margin: 10px;
}

p{
    font-family: "Audiowide", sans-serif;
    font-size: smaller;
    color: #e6e6e6;
    margin: 10px;
}

.container {
  width: 90%;
  max-width: 400px;
  height: 300px;
  margin: 40px auto;
  margin-left: 40px;
  position: flex;
  overflow: auto;
  grid-area: container;
}

::-webkit-scrollbar {
  width: 0px; /* Overflow/scroll */
}

.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.dark-glass {
  background: linear-gradient(
    135deg,
    rgba(68, 60, 60, 0.515),
    rgba(84, 76, 76, 0.421)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.log-title {
  background: linear-gradient(360deg, #8b3aed, #bf92fd);
  color: white;
  padding: 0px 10px;
  border-radius: 10px 10px 10px 0px;
  margin-left: 10px;
  margin-top: 10px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-family: "Audiowide", sans-serif;
  width: 87%;
}

.log-title::before {
  content: '';
  position: absolute;
  width: 83%;
  top: 5%;
  left: 5%;
  right: 55%;
  height: 5%;
  background: linear-gradient(135deg, 
      rgba(255,255,255,0.4) 5%, 
      rgba(255,255,255,0.2) 50%, 
      rgba(255,255,255,0.05) 100%);
  border-radius: 5px;
  pointer-events: none;
}

/* 👆 LOG 👆 */