*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    background: #dcdbdb;
}
.menu
{
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu li
{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    list-style: none;
    transform-origin: 100px;
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
    transform: rotate(0deg) translateX(80px) translateY(-15px);
}
.menu.active li
{
    transform: rotate(calc(225deg / 5 * var(--i))); 
}
li
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.15);
    color: #111; 
    transition: 0.5s;
}
ion-icon{
    transform: rotate(calc(225deg / -5 * var(--i)));
}
li:hover
{
    color: white;
    /* width: 200px; */
    background-color: black;
}
.toggle
{
    position: absolute;
    width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.15);
    font-size: 2em;
    transition: transform 1.25s;
}
.menu.active .toggle
{
    transform: rotate(315deg);
}
h1{
    font-family: Segoe UI;
}
/* .description{
    display: flex;
    padding-top: 20%;
} */
.txt{
    position: absolute;
    top: 80%;
    right: 80%;
    transform: translate(50%,-50%);
    text-transform: uppercase;
    font-family: verdana;
    font-weight: 200;
    font-size: 20px;
    color: #080808;
    text-shadow: 1px 1px 1px #919191;
}
.txt2{
    position: absolute;
    top: 140%;
    right: 80%;
    /* padding: -5px; */
    margin: -30%;
    transform: translate(50%,-50%);
    text-transform: uppercase;
    font-family: verdana;
    font-weight: 200;
    font-size: 20px;
    color: #080808;
    text-shadow: 1px 1px 1px #919191;
}
.text{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(10%,-50%);
    text-transform: uppercase;
    font-family: verdana;
    font-weight: 700;
    font-size: 3em;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #919191,
    1px 6px 1px #919191,
    1px 7px 1px #919191,
    1px 8px 1px #919191,
    1px 9px 1px #919191,
    1px 10px 1px #919191,
    1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2),
    1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
}
/* @import url(); */
.box{
    position : fixed;
    bottom : 40px;
    right: 40px;
    width: 200px;
    height: 200px;
    background: rgba(0,0,0,0.5);
    border-radius: 50%;
    overflow: hidden;
}
.box:before{
    content: '';
    position: absolute;
    inset: -10px 50px;
    background: linear-gradient(315deg,#fff,#fff);
    transition: 0.5s;
    animation: animate 4s linear infinite;
}
.box:hover::before{
    inset: -20px 0px;
}
@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.box::after{
    content: '';
    position: absolute;
    inset: 6px;
    background: #0a0a0a;
    border-radius: 50%;
    z-index: 1;
}
.content{
    position: absolute;
    inset: 30px;
    border: 6px solid #070a1c;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.content img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
    z-index: 3;
}
.box:hover .content img{
    opacity: 0;
    position: 0;
}
.content h2{
    font-family: verdana;
    position: relative;
    font-size: 1em;
    text-align: center;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
.content h2 span{
    font-weight: 300;
    font-size: 0.75em;
}
/* .content a{
    position: relative;
    margin-top: 10px;
    padding: 10px 20px;
    text-align: center;
    background: #fff;
    color: #070a1c;
    border-radius: 25px;
    font-weight: 500;
    font-size: 1.25em;
    text-transform: lowercase;
    letter-spacing: 0.05em;
    text-decoration: none;
    transition: 0.5s;
}
.content a:hover{
    letter-spacing: 0.2em;
} */